* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  overflow-x: hidden;
}
header {
  background-color: #023047;
  height: 80px;
  color: white;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  font-size: 1.5rem;
  border-bottom: 1px solid grey;
}

header h1 {
  margin: 0;
}

.mainSection {
  background: url(../images/cloudybackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  opacity: 1;
}

.topSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5%;
}

/*Section on the left */

.today {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
}
.today h1 {
  font-size: 2.5rem;
  margin: 5px;
}
.today h2,
h3 {
  font-size: 1.5rem;
}

.today p {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.mainAndTemp {
  display: flex;
  justify-content: space-around;
}

/*Input section*/
.inputLocation {
  display: flex;
  align-items: center;
  align-self: center;
  text-align: center;
  justify-content: center;
}

form label {
  font-size: 2rem;
}

form {
  position: relative;
}
form input {
  border: 1px solid #ccc;
  outline: none;
  height: 34px;
  vertical-align: middle;
  border-radius: 2px;
  padding: 0 18px;
}

form button {
  position: absolute;
  right: 3px;
  outline: none;
  transform: translateY(-50%);
  top: 50%;
  background: none;
  border: none;
}

/* Description section on the right */
.todayDetailedDescription {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 20%;
  justify-content: space-around;
}
.descriptionSections {
  display: flex;
}

.descriptionImg {
  width: 20%;
  text-align: center;
  align-self: center;
}
.descriptionInfo {
  flex-grow: 1;
}

div {
  /*border: 1px solid red;*/
}

/*Bottom Section with forecast*/

.bottomSection {
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  gap: 5px;
  padding-top: 80px;
}

.mainAndDate {
  display: flex;
  justify-content: space-between;
}

/*extra styling*/
